<launch>
    <arg name='map_name' default='Town03'/>

    <param name="/t4ac/mapping/maps/xodr" type="string" value="/home/docker_robesafe/tesis/src/catkin_ws/src/t4ac_mapping/maps/xodr/"/>

    <param name="t4ac/map_name" type="string" value="$(arg map_name)" />
    <node pkg="t4ac_global_planner_ros" type="lane_waypoint_planner.py" name="global_planner_node" />
    <!-- <node pkg="t4ac_global_planner_ros" type="route_visualizator.py" name="route_visualizator_node" /> -->
</launch>

<!-- output="screen" -->